<html>
    <head>
        <title><%= room %></title>
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="/js/bigSlide.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            io = io.connect()
            var handle;
            do {
                handle = prompt('Choose a display name (hovering over this will display your exeter username)')
                if (!handle) {
                    window.location = "/lobby/"
                }
            } while ("" == handle);
            // Emit ready event with room name.
            io.emit('ready', {
                room: "<%= room %>",
                name: handle,
                user: "<%= user %>"
            })
            // Listen for the announce event.
            io.on('announce', function(data) {
                $('#messages').append('<li class="alert"> ' + data.message + '</li>')
                $('#messages').animate({scrollTop: $('#messages').get(0).scrollHeight}, 100);
            })

            io.on('message', function(data) {
                $('#messages').append('<li><span title="' + data.user + '">' + data.name + '</span> (' + new Date().toLocaleTimeString() + ') : ' + data.data + '</li>')
                $('#messages').animate({scrollTop: $('#messages').get(0).scrollHeight}, 100);
            })

            io.on('getonline', function(data) {
                $(".onlinelist").empty();
                data.forEach(function(person) {
                    $('.onlinelist').append('<li><span title="' + person.user + '">' + person.name + '</span></li>');
                })
            })
        </script>

    </head>
    <body>
        <nav id="menu" class="panel" role="navigation">
            <ul>
                <li><a id="logout" href="#">Leave Room</a></li>
            </ul>
            <ul class="onlinelist"></ul>
        </nav>
        <div class="wrap push">
            <div class="header">
                <h1 class="chattitle"><%= room %></h1>
                <a href="#menu" class="menu-link"><span>&#9776;</span></a>
            </div>
            <ul id="messages"></ul>
            <form id="send">
                <input id="m" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </body>
    <script charset="utf-8">

        $('.menu-link').bigSlide({
            'side': 'right',
            'easyClose': true
        });

        $('.menu-link').click(function() {
            io.emit('getonline', {
                user: "<%= user %>"
            })
        })

        $('form').submit(function(){
            if ("" !== $('#m').val().replace(/^\s+|\s+$/g, '')) {
                io.emit('message', {
                    room: "<%= room %>",
                    name: handle,
                    user: "<%= user %>",
                    data: $('#m').val().replace(/^\s+|\s+$/g, '')
                });
                $('#m').val('');
            }
            return false;
        });

        $('#logout').click(function() {
            io.emit('logout', {
                room: "<%= room %>",
                name: handle,
                user: "<%= user %>"
            })
            window.location = "/lobby/";
            return true;
        });

    </script>
</html>
